
@model Urun
@{
    ViewData["Title"] = "Ürün Ekle";
}
<form asp-controller="Urun" asp-action="Create" method="post">

    <div class=" mb-3">
        <label asp-for="UrunAd" class="form-label"></label>
        <input asp-for="UrunAd" class="form-control" />
    </div>
    <div class=" mb-3">
        <label asp-for="Kategori" class="form-label"></label>
        <input asp-for="Kategori" class="form-control" />
    </div>

    <div class=" mb-3">
        <label asp-for="Fiyat" class="form-label"></label>
        <input asp-for="Fiyat" class="form-control" />
    </div>
    <div class=" mb-3">
        <label asp-for="StokMiktari" class="form-label"></label>
        <input asp-for="StokMiktari" class="form-control" />
    </div>
     <div class=" mb-3"></div>
        <label asp-for="Aciklama" class="form-label"></label>
        <input asp-for="Aciklama" class="form-control" />
    </div>
    <button class=" btn btn-primary" type="submit ">Kaydet </button>
</form>