     <footer class="bg-dark text-white text-center py-3">
    <p>© 2025 - MyCvWebSite.net - Buradaki tüm bilgiler kişisel veridir.</p><a asp-area="" asp-controller="MyCv" asp-action="Detail">Detaylar</a>
</footer>