
@model Urun
@{
    ViewData["Title"] = "Yeni Ürün Ekle";
}

<form asp-controller="Urun" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Ad" class="form-label"></label>
        <input asp-for="Ad" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Kategori" class="form-label"></label>
        <input asp-for="Kategori" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Fiyat" class="form-label"></label>
        <input asp-for="Fiyat" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="StokMiktarı" class="form-label"></label>
        <input asp-for="StokMiktarı" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Açıklama" class="form-label"></label>
        <input asp-for="Açıklama" class="form-control" />
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>   
